label {
    margin-top:10px;
    margin-bottom:0;
    display:block;
}

#backgd {
    background: #FA8258;
    border-radius: 10px/30px;;
    padding: 20px;
    width: 48%;
}

div.transbox {
    border-radius: 20%;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding: 20px;
    width: auto;
    margin: 30px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    }

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
